html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Start*/

body{
	background-color:  hsl(233, 47%, 7%);
    font-size:15px;
}
.container{
	border-radius: 10px;
	display: flex;
	flex-direction:column;
	width:90%;
	background-color:  hsl(244, 38%, 16%);
	margin: 5vh auto;
    padding-bottom:5vh;
}
.image{
    border-radius: 10px 10px 0 0;
    background:url("image-header-mobile.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 45vh;
    content:"";
}
.image::after{
    border-radius: 10px 10px 0 0;
    position: absolute;
    content: " ";
    width:90%;
    height:45vh;
    z-index: 0;
    background-color: rgb(61, 19, 87,0.7);
  }

.text{
	text-align: center;
	width: 85%;
	margin: 2vh auto;
}
.text>h1{
    color:hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1.5rem;
    width:80%;
	margin: 2vh auto;
    font-family: 'Inter', sans-serif;
}
p{
    width:90%; 
	line-height:1.7;
	margin:0 auto ;
    margin-top:4vh;
	color: hsla(0, 0%, 100%, 0.75);
	font-family: 'Inter', sans-serif;
    font-weight: 400;
}
	.statistics{
		display: flex;
		flex-direction:column;
	}
    .statistics h1{
        font-size:1.5rem;
        margin:5vh auto 2vh auto;
        color: hsl(0, 0%, 100%);
        font-weight: 700;
        font-family: 'Inter', sans-serif;
    }
    h2{
        font-family: 'Lexend Deca', sans-serif;
        font-size:0.9rem;
        font-weight: 400;
        color:hsla(0, 0%, 100%, 0.6);
    }
span{
    color:hsl(277, 64%, 61%);
}
@media screen and  (min-width:376px){
	.container{
		flex-direction: row-reverse;
        height:75vh;
        margin: 20vh auto;
        padding-bottom:0;
        width:75%;
	}
    p{
        margin-top: 5vh;
    }
    .image{
        border-radius: 10px 10px 0 0;
        background:url("image-header-mobile.jpg");
        background-size:contain;
        width: 50%;
        height: 75vh;
        content:"";
    }
    .image::after{
        border-radius: 0px 10px 10px 0;
        position: absolute;
        content: " ";
        width:37.5%;
        height:75vh;
        z-index: 0;
        background-color: rgb(61, 19, 87,0.7);
      }
      .statistics{
        flex-direction: row;
        width:80%;
        margin:0;
      }
      .text h1{
        font-size: 1.8rem;
      }
     .text{
        padding:10vh 0;
        width:40%;
        text-align: left;
        margin:0 auto;
     }
     .text p,.text h1{
        margin-left: 0;
     }
     .statistics{
        margin-top: 12vh;
        justify-content: space-between;
        text-align:left;
     }
    .statistics h1{
        font-size: 1.2rem;
    }
    .image{
        border-radius: 0px 10px 10px 0;
        background:url("image-header-desktop.jpg");
    }
    }